---
layout: layouts/base.njk
---
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0">Page Generator</h1>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <p class="masthead-subheading font-weight-light mb-0">Create "static dynamic" pages</p>
  </div>
</header>
<section class="page-section bg-dark text-white mb-0" id="about">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-white">About The Project</h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">This demo has been created to showcase how to work with <a href="https://www.11ty.dev/">11ty</a>, <a href="https://fauna.com">FaunaDB<a>, <a href="https://netlify.com">Netlify</a> and <a href="https://cloudinary.com">Cloudinary</a> to create a "static dynamic" JAMstack experience.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Brought to you by <a href="https://tamas.io">Tamas Piros</a> (<a href="https://fullstacktraining.com">Full Stack Training Ltd</a>, <a href="https://jamstack.training">JAMstack.training</a>)</p>
      </div>
    </div>
  </div>
</section>

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-uppercase mb-4">Template</h4>
        <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
          <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
      </div>
    </div>
  </div>
</footer>
