---
layout: layouts/base.njk
---
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0">Page Generator</h1>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <p class="masthead-subheading font-weight-light mb-0">Create "static dynamic" pages</p>
  </div>
</header>
<section class="page-section bg-dark text-white mb-0" id="about">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-white">404 - Not Found</h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">The requested page has not been found.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Make sure you use a valid unique ID, alternatively, you can go ahead and create a <a href="/">new page</a>.)</p>
      </div>
    </div>
  </div>
</section>