<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Brought to you by <a href="https://tamas.io">Tamas Piros</a> (<a href="https://fullstacktraining.com">Full Stack Training Ltd</a>, <a href="https://jamstack.training">JAMstack.training</a>)</small>
  </div>
</section>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% if form %}
<script src="/app.js"></script>
{% endif %}